html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}
/*.site-layout .mdl-layout__header-row {*/
    /*padding-left: 40px;*/
/*}*/
.site-layout .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
    font-size: inherit;
}
.site-layout .mdl-layout__tab-bar-button {
    display: none;
}
.site-layout .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
    display: none;
}
.site-layout .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.site-layout .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
    overflow: visible;
}
.site-layout .mdl-layout__tab-bar-container {
    height: 64px;
}
.site-layout .mdl-layout__tab-bar {
    padding: 0;
    padding-left: 16px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.site-layout .mdl-layout__tab-bar .mdl-layout__tab {
    height: 64px;
    line-height: 64px;
}
.site-layout .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
    background-color: white;
    height: 4px;
}
.site-layout main > .mdl-layout__tab-panel {
    padding: 8px;
    padding-top: 48px;
}
.site-layout .mdl-card {
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.site-layout .mdl-card > * {
    height: auto;
}
.site-layout .mdl-card .mdl-card__supporting-text {
    margin: 24px 40px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
}
.site-layout.site-layout .mdl-card__supporting-text h4 {
    margin-top: 0;
    margin-bottom: 20px;
}
.site-layout .mdl-card__actions {
    margin: 0;
    padding: 8px 40px;
    color: inherit;
}
.site-layout .mdl-card__actions a {
    color: #00BCD4;
    margin: 0;
}
.site-layout .mdl-card__actions a:hover,
.site-layout .mdl-card__actions a:active {
    color: inherit;
    background-color: transparent;
}
.site-layout .mdl-card__supporting-text + .mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.site-layout #share {
    position: absolute;
    right: 40px;
    top: 36px;
    z-index: 999;
}

.site-layout .mdl-layout__content section:not(:last-of-type) {
    position: relative;
    margin-bottom: 48px;
}
.site-layout section.section--center {
    max-width: 860px;
}
.site-layout #features section.section--center {
    max-width: 620px;
}

.site-layout section.section--hero {
    height: 320px;
    color: white;
}

.site-layout section > header{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.site-layout section > .section__play-btn {
    min-height: 200px;
}
.site-layout section > header > .material-icons {
    font-size: 3rem;
}
.site-layout section > button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
}
.site-layout section .section__circle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.site-layout section .section__text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 8px;
}
.site-layout section .section__text h5 {
    font-size: inherit;
    margin: 0;
    margin-bottom: 0.5em;
}
.site-layout section .section__text a {
    text-decoration: none;
}
.site-layout section .section__circle-container > .section__circle-container__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 8px 0;
}
.site-layout section.section--footer .section__circle--big {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 8px 32px;
}
.site-layout .is-small-screen section.section--footer .section__circle--big {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 8px 16px;
}
.site-layout section.section--footer {
    padding: 0 0 32px 0;
    margin: 0 -8px -8px -8px;
}

.mdl-mega-footer__social-btn {
    cursor: pointer;
}

.mdl-button .fa {
    color: rgba(0,0,0,0.54);
}

.mdl-mega-footer__social-btn.fa {
    font-size: 2.3em;
    color: rgba(255, 255, 255, 0.34);
    background-color: transparent;
    margin-right: 8px;
}

.site-layout section.section--center .section__text:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.13);
}
.site-layout .mdl-card .mdl-card__supporting-text > h3:first-child {
    margin-bottom: 24px;
}

.site-layout section {
    margin-bottom: 16px;
}

.site-layout #features section {
    margin-bottom: 72px;
}
.site-layout #features h4, #features h5 {
    margin-bottom: 16px;
}
.site-layout .toc {
    border-left: 4px solid #C1EEF4;
    margin: 24px;
    padding: 0;
    padding-left: 8px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.site-layout .toc h4 {
    font-size: 0.9rem;
    margin-top: 0;
}
.site-layout .toc a {
    color: #4DD0E1;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    display: block;
}
.site-layout .mdl-menu__container {
    z-index: 99;
}

.demo-card-wide.mdl-card {
    width: 75%;
    max-width: 712px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    /*background: url('../assets/demos/welcome_card.jpg') center / cover;*/
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.mdl-card {
    margin-bottom: 15px;
}

.site-layout-transparent {

}
.site-layout-transparent .mdl-layout__header,
.site-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}

.mdl-grid.center-items {
    justify-content: center;
}

.mdl-menu--bottom-right a {
    text-decoration: none;
}

.site-layout .center-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.posts .mdl-card h3 {
    margin: 0;
}

.posts .mdl-card h3 a {
    text-decoration: none;
}

.posts .mdl-card__media a,
.posts .mdl-card__title a {
    color: inherit;
}

.posts .mdl-card__supporting-text:not(:last-child) {
    box-sizing: border-box;
    min-height: 76px;
}

.posts .mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    padding: 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    cursor: pointer;
}

.posts:not(.posts--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.posts .mdl-card__media ~ .mdl-card__supporting-text {
    min-height: 64px;
}

.posts .meta > *:first-child {
    margin-right: 16px;
}

.posts .minilogo {
    width: 44px;
    height: 44px;
    background-image: url('../resume/luke_davis.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    background-color: #F5F5F5;
}

.posts .mdl-card__supporting-text strong {
    font-weight: 400;
}

.posts .meta > * {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.posts .meta {
    box-sizing: border-box;
    padding: 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: auto;
}

.posts .mdl-card__supporting-text {
    width: 100%;
    padding: 16px;
    min-height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-stacked {
    min-height: 300px;
}

.form-stacked .mdl-textfield {
    width: 100%;
}
