---
layout: default
title: Projects
tags: project
nav_id: projects
show_resume: true
---

{% assign projects = site.projects | sort: 'order' | reverse %}
<section class="section--center mdl-grid center-items">
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Projects</h3>
    </div>
    {% for project in projects %}
    {% if project.show == true %}
    <div class=" mdl-card mdl-cell--6-col mdl-cell--middle mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color--primary">
            <h2 class="mdl-card__title-text">{{ project.title }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <p><b>{{ project.company }}</b> - <i>{{ project.display_date }}</i></p>
            <p>{{ project.content }}</p>
            <!-- TODO: Tags -->
        </div>
        {% if project.link_name == "Github" %}
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href={{ project.link }}>
                View Source
            </a>
        </div>
        {% endif %}
    </div>

    {% endif %}
    {% endfor %}
</section>
