#title-logo{
	background: url(../img/Lucky13LogoText.png);
	background-size: 108px 45px;
	width: 108px;
	height:45px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}

.middle{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#lucky-main{
	background: #222222;
	height: 450px;
	text-align: left;
	position: relative;
	padding: 100px 20px 0 20px;
}

#current-products{
	background: #555555;
	height:100px;
	text-align:right;
	position:relative;
	padding: 25px 5px 5px 20px;
}

#lucky-services{
	background: #444444;
	min-height: 550px;
	text-align: center;
	position: relative;
	padding: 70px 20px 0 20px;
}

#lucky-projects{
	background: url(../img/gray_background.png), url(../img/lucky13.png);
	background-size: auto,cover;
	background-repeat: repeat,no-repeat;
	background-attachment: scroll,fixed;
	background-position: 0% 0%,top center;
	min-height: 550px;
	text-align: center;
	position: relative;
	padding: 70px 20px 0 20px;
}

/*Alt for dimming the top layer of a div*/
/*#lucky-products:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}*/

#lucky-about{
	background: #555555;
	height: 550px;
	text-align: center;
	position: relative;
	padding: 70px 20px 0 20px;
}

footer{
	background: #333;
	padding: 24px 0 10px;
}

p.copyright{
margin: 6px 0 0;
font-size: 0.75rem;
color: #666666;
}