<header class="mdl-layout__header mdl-layout__header--transparent mdl-color--primary-dark">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation  mdl-layout--large-screen-only">
            {% include navigation.html layout="mdl-navigation__link" %}
        </nav>
    </div>
</header>
{% include navigation_drawer.html %}