{% assign card = include.card_content %}
{% assign width = include.width %}
<div class=" mdl-card mdl-cell--{{ width }}-col mdl-cell--middle mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ card.title }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        {{ card.content }}
    </div>
    {{ if card.company != "" }}
    <div class="mdl-card__actions mdl-card--border">
        {{ card.company }}
    </div>
    {{ endif }}
    {% if project.link_name == "Github" %}
    <div class="mdl-card__menu">
        <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{{ project.link }}">
            <i class="material-icons fa fa-github"></i>
        </a>
    </div>
    {% endif %}
    {% if project.link_name == "Lucky13" %}
    <div class="mdl-card__menu">
        <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="{{ project.link }}">
            13
            <!--<i class="material-icons fa fa-apple"></i>-->
        </a>
    </div>
    {% endif %}
</div>
