<section class="section--footer mdl-color--white mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
        <h3><p>Want to learn more?</p>View my work experience</h3>
    </div>
    <div class="mdl-cell--12-col center-content">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                onclick=" window.open('resume/luke_davis.pdf','_blank')">
            Resume
        </button>
    </div>
</section>