<!DOCTYPE html>
<html>
{% include head.html %}
<body class="site-layout mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
{% if site.google_tag_manager %}
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
{% endif %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header site-layout-transparent">
    {% include fixed_header.html %}
    <main class="mdl-layout__content">
        {{ content }}
        {% include footer.html %}
    </main>

</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</body>
</html>
